language: node_js
node_js:
  - "node"
before_script:
  - npm install
script:
  - mkdir public
  - npm run build
deploy:
  provider: pages
  skip-cleanup: true
  keep-history: true
  local-dir: public
  repo: kbsecret/kbsecret.github.io
  target-branch: master
  github-token: $GITHUB_TOKEN
  on:
    branch: master
